<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.gumiviet.oneSpeakPlugin"
        version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>OneSpeakPlugin</name>
    <author>QuangTang</author>

    <description>
        This plugin allows your application to receive push notifications on Android, iOS devices.
        Android uses Google Cloud Messaging.
        iOS uses Apple APNS Notifications.
    </description>

    <js-module name="OneSpeakPlugin" src="www/OneSpeakPlugin.js">
        <clobbers target="OneSpeakPlugin"/>
    </js-module>

    <platform name="ios">
        <framework src="src/ios/sdk/OneSpeak.framework" custom="true"/>
        <framework src="MapKit.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="CFNetwork.framework"/>
        <config-file target="config.xml" parent="/*">
            <feature name="OneSpeakPlugin">
                <param name="ios-package" value="OneSpeakPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/ios/AppDelegate-bkh.txt"/>
        <source-file src="src/ios/AppDelegate-bkm.txt"/>

        <source-file src="src/ios/MainViewController-bkh.txt"/>
        <source-file src="src/ios/MainViewController-bkm.txt"/>


        <header-file src="src/ios/OneSpeakPlugin.h"/>
        <source-file src="src/ios/OneSpeakPlugin.m"/>

        <source-file src="src/ios/sdk/OneSpeak.plist"/>
        <source-file src="src/ios/sdk/OneSpeakPlugin.plist"/>

        <header-file src="src/ios/map/CommonUtilities.h"  target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/CreateColor.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/DB/DetailDAO.h" target-dir="../../Classes/map/DB/"/>
        <header-file src="src/ios/map/DB/FMDatabase/FMDatabase.h" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <header-file src="src/ios/map/DB/FMDatabase/FMDatabaseAdditions.h" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <header-file src="src/ios/map/DB/FMDatabase/FMDatabasePool.h" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <header-file src="src/ios/map/DB/FMDatabase/FMDatabaseQueue.h" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <header-file src="src/ios/map/DB/FMDatabase/FMResultSet.h" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <header-file src="src/ios/map/DB/StoreDAO.h" target-dir="../../Classes/map/DB/"/>
        <header-file src="src/ios/map/DB/StoreDB.h" target-dir="../../Classes/map/DB/"/>
        <header-file src="src/ios/map/FeedXmlParser.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/GTM/GTMGarbageCollection.h" target-dir="../../Classes/map/DB/GTM/"/>
        <header-file src="src/ios/map/GTM/GTMNSString+URLArguments.h" target-dir="../../Classes/map/DB/GTM/"/>
        <header-file src="src/ios/map/InfoView.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/MapViewController.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/OptionLineView.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/OptionView.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/RequestUserDefaults.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/StoreAnnotation.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/StoreCalloutAnnotation.h" target-dir="../../Classes/map/"/>
        <header-file src="src/ios/map/StoreCalloutAnnotationView.h" target-dir="../../Classes/map/"/>

        <source-file src="src/ios/map/CreateColor.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/DB/DetailDAO.m" target-dir="../../Classes/map/DB/"/>
        <source-file src="src/ios/map/DB/FMDatabase/FMDatabase.m" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <source-file src="src/ios/map/DB/FMDatabase/FMDatabaseAdditions.m" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <source-file src="src/ios/map/DB/FMDatabase/FMDatabasePool.m" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <source-file src="src/ios/map/DB/FMDatabase/FMDatabaseQueue.m" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <source-file src="src/ios/map/DB/FMDatabase/FMResultSet.m" target-dir="../../Classes/map/DB/FMDatabase/"/>
        <source-file src="src/ios/map/DB/StoreDAO.m" target-dir="../../Classes/map/DB/"/>
        <source-file src="src/ios/map/DB/StoreDB.m" target-dir="../../Classes/map/DB/"/>
        <source-file src="src/ios/map/FeedXmlParser.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/GTM/GTMNSString+URLArguments.m" target-dir="../../Classes/map/GTM/"/>
        <source-file src="src/ios/map/InfoView.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/MapViewController.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/OptionLineView.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/OptionView.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/RequestUserDefaults.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/StoreAnnotation.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/StoreCalloutAnnotation.m" target-dir="../../Classes/map/"/>
        <source-file src="src/ios/map/StoreCalloutAnnotationView.m" target-dir="../../Classes/map/"/>

        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/balloon.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_a1.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_a2.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_a3.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_b1.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_b1_1.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_footer1.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_footer1_on.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_footer2.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/button_footer2_on.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/common_ic07.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_01.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_02.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_03.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_04.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_05.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_06.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b01.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b02.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b03.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b04.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b05.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/icons_b06.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_01.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_02.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_03.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_04.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_05.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_06.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_07.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_08.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_09.png"/>
        <source-file target-dir="../../Classes/map/mapicons/" src="src/ios/map/mapicons/map_pin_shadow_10.png"/>

        <source-file src="src/ios/map/DB/storeDB.sqlite" target-dir="../../Classes/map/DB/"/>
    </platform>

    <platform name="android">
        <framework src="com.android.support:support-v4:+"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OneSpeakPlugin">
                <param name="android-package" value="com.plugin.gcm.OneSpeakPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.plugin.gcm.PushHandlerActivity" android:exported="true"/>
            <receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver"
                      android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                    <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                    <category android:name="$PACKAGE_NAME"/>
                </intent-filter>
            </receiver>
            <service android:name="com.plugin.gcm.GCMIntentService"/>
        </config-file>

        <source-file src="src/android/libs/gcm.jar" target-dir="libs/"/>
        <source-file src="src/android/com/plugin/gcm/CordovaGCMBroadcastReceiver.java" target-dir="src/com/plugin/gcm/"/>
        <source-file src="src/android/com/plugin/gcm/GCMIntentService.java" target-dir="src/com/plugin/gcm/"/>
        <source-file src="src/android/com/plugin/gcm/PushHandlerActivity.java" target-dir="src/com/plugin/gcm/"/>
        <source-file src="src/android/com/plugin/gcm/OneSpeakPlugin.java" target-dir="src/com/plugin/gcm/"/>
    </platform>
</plugin>