<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginAPIKey</key>
	<string>fe40e77e8c10da15d0e54a0ad9fb8029</string>
	<key>PluginAPIBaseURL</key>
	<string>https://www5.onespeak.jp/</string>
</dict>
</plist>
